  <footer class="mt-4 border-top pt-3 text-center text-white">

        <i class="bi bi-facebook m-3"></i>
        <i class="bi bi-instagram m-3"></i>
        <i class="bi bi-twitter m-3"></i>
        <div class="p-4"><a href="#"
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cookies
            </a>
            | <a href="/proyecto/pages/contacto.html" data-page="/proyecto/pages/contacto.html"
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Contacto</a>
            | <a href="#"
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cookies
            </a>
            | <a href="#"
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">¿Dónde
                encontrarnos? </a>
        </div>
    </footer>
